*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	max-width: 100%;
}

body{
	background-color: #2B3A55;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1624.jpg);
	background-size: cover;
	background-position: center;
}
header{
	height: 100vh;
	min-height: 200px;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:330px ;
	
}
ul li{
	display: inline-block;
	width: auto;
	height: auto;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #F0CAA3;
	color: #000;
}

ul li.HM a{
	background-color:#F0CAA3;
	color: #000;

}

.container{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
    text-align: justify;
    text-justify: inter-word;
}

h1{
	color: #fff;
	margin-top: auto;
	font-size: 85px;
	position: relative;
    font-family: Dishonorable Mention: Comic Sans;
    font-weight: bolder;
	text-align: center;
}

p{
    color: #fff;
    font-family: Dishonorable Mention: Comic Sans;
    font-size: larger;
    text-indent: 50px;
    letter-spacing:1px;
    line-height: 1.5;
	position: relative;
}

.main ul li:hover
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

img{
	width: 50%; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50%;
	transform: translateY(320px);
	position: relative;
}

.content{
	height: 100vh;
	margin-top: 150%;
}

.games{
	position: relative;
	top: 37%;
	left: 50%;
	transform: translate(-50%,-50%);
    text-align: justify;
    text-justify: inter-word;
	align-items: center;

}

.games h4{
	text-align: center;
	color: #fff;
	font-size: 70px;
    font-family: Dishonorable Mention: Comic Sans;
    font-weight: bolder;
	position: relative;
}

.una{
	color: #fff;
    font-family: Dishonorable Mention: Comic Sans;
    font-size: larger;
    text-indent: 50px;
    letter-spacing:1px;
    line-height: 1.5;
	max-width: auto;
	margin: auto;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
}

.names{
	margin-left: 25%;
	font-size: x-large;
	color: #86C8BC;
	position: relative;
}

.info{
	margin-left: 25%;
	margin-right: 25%;
}

.bf{
	color: #FED049;
}

span{
	color: aqua;
}


@media all and (max-width: 500px){

		ul{
			float:right;
			list-style-type: none;
			margin-top: 80px;
			margin-right:25px ;
			font-size: 7px;
		}

		.title{
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
			text-align: justify;
			text-justify: inter-word;
			width: 80%;
		}

		img{
			width: 80%; 
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-top: 50%;
			transform: translateY(303px);
			position: relative;
			height: 40%;
		}

		h1{
			color: #fff;
			margin-top: auto;
			font-size: 21px;
			position: relative;
			font-family: Dishonorable Mention: Comic Sans;
			font-weight: bolder;
			text-align: center;
			
			
		}

		p{
			color: #fff;
			font-family: Dishonorable Mention: Comic Sans;
			font-size: small;
			text-indent: 0;
			letter-spacing:1px;
			line-height: 1.5;
			position: relative;
		}

		.content{
			height: 100vh;
			margin-top: 2300px;
		}

		.una{
			color: #fff;
			font-family: Dishonorable Mention: Comic Sans;
			font-size: small;
			text-indent: 50px;
			letter-spacing:1px;
			line-height: 1.5;
			max-width: auto;
			margin: auto;
			margin-left: 10%;
			margin-right: 10%;
			position: relative;
		}

		.games h4{
			text-align: center;
			color: #fff;
			font-size: 40px;
			font-family: Dishonorable Mention: Comic Sans;
			font-weight: bolder;
			position: relative;
		}

		.info{
			margin-left: 10%;
			margin-right: 10%;
		}
		.bf{
			margin-left: 1%;
			margin-right: 1%;
		}

		.names{
			margin-left: 10%;
			font-size: x-large;
			color: #86C8BC;
			position: relative;
		}
}
